.single_dining_box {
  width: 500px;
  align-items: center;
  background-color: #171A3D;
}
h4 .dining_subject{
  font-size: 10rem;
  font-family: 'Noto Sans KR';
  color: blue;
}

h5 {
  font-size: 10rem;
  font-family: 'Noto Sans KR';
}

img {
  height: 200px;
  width: 200px;
  background-color: #171A3D;
}
