
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

body {
  background-color: #ffffff;
  font-family: 'Noto Sans KR';

}

.price p{
  font-size: 10rem;
  width: 800px;
  font-family: 'Noto Sans KR';
  text-align: center;
  color: #18C2C0;
  font-weight: bold;
  margin-bottom: 100px;
}

.info {
  display: inline-block;
  max-width: 800px;
  width: 300px;
  background-color: transparent;
  font-family: "Source Code Pro";
  border: none;
  outline: none;
  margin-left: 50px;
  color: white;
}

.desc p{
  font-size: 5rem;
  width: 800px;
  font-family: 'Noto Sans KR';
  text-align: left;
  color:#aaaaaa;
  margin-bottom: 3px
}

.subtitle p{
  width: 800px;
  font-family: 'Noto Sans KR';
  font-size: 5rem;
  font-weight: bold;
  text-align: left;
  color:#bbbbbb;
  margin-bottom: 20px
}

.desc {
    margin-bottom: 20px;
}

.button button {
  font-size: 5rem;
  font-weight: 400;
  font-family:'Noto Sans KR';
  letter-spacing: 1px;
  width: 800px;
  background-color: #18C2C0;
  border: none;
  color: #fff;
  padding: 18px;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.button button:hover {
  background-color: #15aeac;
}
.button button:active {
  background-color: #139b99;
}
.button button i {
  font-size: 1.2rem;
  margin-right: 5px;
}

.email input{
  font-family:'Noto Sans KR';
  font-size: 5.1rem;
  font-weight: 400;
  letter-spacing: 1px;
  width: 800px;
  background-color: #656565;
  border: none;
  color: #E0E0E0;
  padding: 18px;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 25px;
  margin-top: 50px;
}
.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table-rounded {
    border: none;
}
.zui-table-rounded thead th {
    background-color: #CFAD70;
    border: none;
    text-shadow: 1px 1px 1px #ccc;
    color: #333;
}
.zui-table-rounded thead th:first-child {
    border-radius: 10px 0 0 0;
}
.zui-table-rounded thead th:last-child {
    border-radius: 0 10px 0 0;
}
.zui-table-rounded tbody td {
    border: none;
    border-top: solid 1px #957030;
    background-color: #EED592;
}
.zui-table-rounded tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
.zui-table-rounded tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
