{% extends "restaurants_map/base.html" %}

{% block content %}
<style>
.single_dining_box {
  width: 500px;
  padding: 25px;
  display:block;
  margin:auto;
}

.header {
  background-color: #eeeeee;
  width: 500px;
  padding: 25px;
  display:block;
  margin:auto;
}

.dining_subject{
  font-size: 1.3rem;
  font-family: 'Noto Sans KR';
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

h5 {
  font-size: 3rem;
  font-family: 'Noto Sans KR';
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

img {
  height: 450px;
  width: 450px;
  background-color: #171A3D;
  display:block;
  margin:auto;
}

.dining_desc {
  font-size: 1rem;
}

.dining_desc {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dining_info {
  font-size: 1rem;
  margin-top : 7px;
  margin-bottom : 7px;
}

.dining_addr {
  font-size: 1rem;
  margin-top:20px;
}
</style>
<div class="header">
  <h5 class="dining_name">서울시장 최애맛집</h5>
  <h4 class="dining_subject">박원순 시장이 지난 3년간 가장 자주 다닌 맛집 TOP 5</h4>
  <p>업무추진비 분석결과, 박원순 시장은 양식보다는 한식과 중식을 즐겨찾는 것으로 나타났다.
    주로 조용하고 정갈한 분위기로, 2만원 후반의 가격대의 식당을 찾는다면 박원순 시장이 즐겨찾는 맛집을 눈여겨보자
  </p>
</div>

<div class="single_dining_box">
  <h5 class="dining_name">달개비 자연음식</h5>
  <img class="dining_img"/>
  <p class="dining_desc">
    박원순 시장이 거의 매 달 방문하는 서울 양반집 스타일의 코스요리집.
    유기농 식재료에 인공조미료를 첨가하지 않은, 그야말로 '자연밥상'을 맛볼 수 있다.
    조용한 분위기에서 정갈한 한정식을 맛볼 수 있어
    정무부시장 등 고위직들이 자주 찾는 맛집!<br />
  </p>
  <img class="dining_img"/>
  <p class="dining_info dining_addr"><b>주소</b> 서울시 중구 정동 3-1</p>
  <p class="dining_info"><b>영업시간</b> 12:00 ~ 22:00 (일 휴무)</p>
  <p class="dining_info"><b>가격</b> 한상차림 29,700원, 특선 정식 44,000원</p>
  <p class="dining_info"><a href="http://dalgaebi.co.kr/">▶ 식당상세정보</a></p>


</div>

{% endblock content %}
