
{% load static %}
<html>
    <head>
      <meta property="og:title" content="공무원피셜 존맛탱 맛집" />
      <meta property="og:image" content="{% static 'image/icon.png' %}" />
      <meta property="og:description" content="가성비갑! 공무원만 알고있는 비밀의 맛집리스트" />
      <meta property="og:type" content="website" />
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123289484-1"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-123289484-1');
      </script>

      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="////fonts.googleapis.com/earlyaccess/notosanskr.css">
      <link rel="stylesheet" href="{% static 'css/restaurants_map.css' %}">
      <title>공무원피셜 존맛탱 맛집</title>

    </head>
    <body>
      <div class="container">
        <div class="title">
            <p>공무원피셜 JMT</p>
        </div>
        <div class="desc">
          <p>서울시 <span style="color: #ffffff">고위 공무원</span>들의 <span style="color: #ffffff">법카</span> 사용내역</p>
          <p><span style="color: #ffffff">21,260건</span>을 분석한 진짜 맛집 리스트!</p>
        </div>
          <p class="top10">가장 자주 간 맛집</p>
          <table class="zui-table zui-table-rounded">
        <thead>
            <tr>
                <th class="num">순위</th>
                <th class="dining">식당</th>
                <th class="kind">방문횟수</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="num">1</td>
                <td class="dining">우도일식</td>
                <td class="kind">307회</td>
            </tr>
            <tr>
                <td class="num">2</td>
                <td class="dining">참숯골</td>
                <td class="kind">261회</td>
            </tr>
            <tr>
                <td class="num">3</td>
                <td class="dining">구이구이</td>
                <td class="kind">248회</td>
            </tr>
        </tbody>
      </table>
          <p class="top10">가장 돈을 많이 쓴 맛집</p>
          <table class="zui-table zui-table-rounded">
        <thead>
            <tr>
                <th class="num">순위</th>
                <th class="dining">식당</th>
                <th class="kind">집행금액</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="num">1</td>
                <td class="dining">우도일식</td>
                <td class="kind">4180만원</td>
            </tr>
            <tr>
                <td class="num">2</td>
                <td class="dining">참숯골</td>
                <td class="kind">3393만원</td>
            </tr>
            <tr>
                <td class="num">3</td>
                <td class="dining">동해일식</td>
                <td class="kind">2945만원</td>
            </tr>
        </tbody>
      </table>
          <p class="top10">가장 비싸게 먹은 맛집</p>
          <table class="zui-table zui-table-rounded">
        <thead>
            <tr>
                <th class="num">순위</th>
                <th class="dining">식당</th>
                <th class="kind">인당 지출</th>
                <th class="num">방문 횟수</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="num">1</td>
                <td class="dining">한미리</td>
                <td class="kind">26,598원</td>
                <td class="num">33회</td>
            </tr>
            <tr>
              <td class="num">2</td>
              <td class="dining">더테이블한정식</td>
              <td class="kind">26,430원</td>
              <td class="num">87회</td>
            </tr>
            <tr>
              <td class="num">3</td>
              <td class="dining">다한우</td>
              <td class="kind">26,290원</td>
              <td class="num">49회</td>
            </tr>
            <tr>
              <td class="num">...</td>
              <td class="dining">...</td>
              <td class="kind">...</td>
              <td class="num">...</td>
            </tr>
            <tr>
              <td class="num">100</td>
              <td class="dining">완산골명가</td>
              <td class="kind">10,513원</td>
              <td class="num">26회</td>
            </tr>
        </tbody>
      </table>
          <p class="top10">회식용 맛집</p>
          <p class="desc">10명 이상의 단체 손님을 데리고 가장 많이 간 식당!</p>
          <table class="zui-table zui-table-rounded">
        <thead>
            <tr>
                <th class="num">순위</th>
                <th class="dining">식당</th>
                <th class="kind">방문 횟수</th>
                <th class="num">평균 인원</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="num">1</td>
                <td class="dining">열빈</td>
                <td class="kind">65회</td>
                <td class="num">13명</td>
            </tr>
            <tr>
              <td class="num">2</td>
              <td class="dining">더미</td>
              <td class="kind">62회</td>
              <td class="num">12명</td>
            </tr>
            <tr>
              <td class="num">3</td>
              <td class="dining">송학</td>
              <td class="kind">30회</td>
              <td class="num">10명</td>
            </tr>
        </tbody>
      </table>
      </div>
    </body>
</html>
