{% load static %}
<html>
    <head>

      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123289484-1"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-123289484-1');
      </script>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosanskr.css">
      <link rel="stylesheet" href="{% static 'css/restaurants_map.css' %}">

      <title>공무원 맛집 지도</title>
    </head>
    <body>
    <div class="container">
      <div class="price">
          <p> 종로구 맛집 지도 </p>
      </div>

      <div class="desc">
        <p>서울시청, 정부종합청사에서 지출된</p>
        <p>업무추진비(판공비)를 분석해</p>
        <p>고위 공무원들이 자주 가는 맛집 지도가</p>
        <p>8월 1일에 공개됩니다</p>
      </div>

      <div class="desc">
        <p>SNS 홍보가 아닌</p>
        <p>깔끔하고 정갈하고 가격도 적당한</p>
        <p>진짜 맛집을 찾아보세요!</p>
      </div>

      <form method="POST" class="button">
        {% csrf_token %}
        <div class="email">
          <input type="email", name="input_email" placeholder="000@gmail.com"/>
        </div>
        <div class="button">
          <button type="submit"><i class="ion-locked"></i> Submit Email</button>
        </div>
      </form>
      <!-- <a class="btn btn-primary" href="/complete_email">입력하기</a> -->

    </div>
    </body>
</html>
