{% extends "restaurants_map/base.html" %}
{% load static %}
{% block content %}

	<section class="ptb-0">
		<div class="mb-20 brdr-ash-1">
		<div class="container">
			<a class="mt-20" href="index.html"><i class="mr-5 ion-ios-home"></i>Home<i class="mlr-10 ion-chevron-right"></i></a>
			<a class="mt-20 color-ash" href="single-page.html">List<i class="mlr-10 ion-chevron-right"></i></a>
			<a class="mt-20 color-ash" href="03_01.html">서울시장맛집</a>
		</div><!-- container -->
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">

				<div class="col-md-12 col-lg-8">
					<img src="{% static 'images/jmt_01.png' %}" alt="">
					<h3 class="mt-30"><a href="#"><b>1. 달개비 자연음식<a></b></h3>
					<!-- <ul class="list-li-mr-20 mtb-15">
						<li><a href="#"><b>박원순 시장의 최애맛집 </b></a></li>
					</ul> -->
					<div class="quote-primary mtb-20">
						<h5 class="mt-15" style="padding-bottom:20px;"><b>에디터 한줄평 </b></h5>
						<h5 style="font-style: italic;">박원순 시장이 거의 매 달 방문하는 서울 양반집 스타일의 한식 코스요리집.
							 신선한 유기농 식재료와 인공조미료를 첨가하지 않은, 그야말로 '자연밥상'을 맛볼 수 있다.
							 조용한 분위기에서 정갈한 한정식을 맛볼 수 있어 정무부시장 등 고위직들이 자주 찾는 맛집이다. </h5>
					</div><!-- quote-primary -->
					<p class="mtb-15"><b>주소:</b> <a href="#">서울시 중구 정동 3-1</a><br>
					<b>영업시간:</b> 12:00 ~ 22:00 (일 휴무)<br>
					<b>가격:</b> 한상차림 29,700원, 특선 정식 44,000원<br></p>

					<p class="mtb-15" style="border-bottom: 2px solid #F9B500; padding-bottom: 30px;">
					</p>
				</div>

				<div class="col-md-12 col-lg-8">
					<img src="{% static 'images/jmt_02.png' %}" alt="" style="padding-top: 20px;">
					<h3 class="mt-30"><a href="#"><b>2. 몽중헌<a></b></h3>
					<!-- <ul class="list-li-mr-20 mtb-15">
						<li><a href="#"><b>서울시 공무원의 최애맛집</b></a></li>
					</ul> -->
					<div class="quote-primary mtb-20">
						<h5 class="mt-15" style="padding-bottom:20px;"><b>에디터 한줄평 </b></h5>
						<h5 style="font-style: italic;">양질의 한우를 업소 내의 푸줏간에서 해체작업을 하는 소고기집.서울시 공무원들이 한 해 평균 273회 방문하는 인기 맛집으로,지난 3년간 서울시의 업무추진비가 가장 자주, 많이 쓰인 식당이기도 하다. 가족단위, 단체연회 등 다양한 규모의 객실이 구비되어 있다.</h5>
					</div><!-- quote-primary -->
					<p class="mtb-15"><b>주소:</b> <a href="#">서울 중구 을지로5길 19 FERRUM TOWER</a><br>
					<b>영업시간:</b> 매일 11:30~22:00 15시~17시 30분 브레이크 타임<br>
					<b>가격:</b> 시그니처 딤섬(하교, 구채교) 9,800, 새우 망고 소스 (小) 40,000<br></p>

					<p class="mtb-15" style="border-bottom: 2px solid #F9B500; padding-bottom: 30px;">
					</p>
				</div>

				<div class="col-md-12 col-lg-8">
					<img src="{% static 'images/jmt_03.png' %}" alt="" style="padding-top: 20px;">
					<h3 class="mt-30"><a href="#"><b>3.  동해수산<a></b></h3>
					<!-- <ul class="list-li-mr-20 mtb-15">
						<li><a href="#"><b>서울시 공무원들의 단체손님 맛집 </b></a></li>
					</ul> -->
					<div class="quote-primary mtb-20">
						<h5 class="mt-15" style="padding-bottom:20px;"><b>에디터 한줄평 </b></h5>
						<h5 style="font-style: italic;">서울시 공무원들이 단체손님을 모시고 2018년에만 117번 방문한 만복림.
		        작은 룸들이 다양하게 마련되어 있어 회식 장소로 인기이다.
		        인기메뉴는 단연 바삭하고 매콤한 새우칠리소스!
		        식사류도 깔끔하고, 달지 않다는 평.</h5>
					</div><!-- quote-primary -->
					<p class="mtb-15"><b>주소:</b> <a href="#">서울 중구 동호로35길 27</a><br>
					<b>영업시간:</b> 매일 11:00 - 22:00명절 휴무<br>
					<b>가격:</b> 동해특선 70,000원, 회정식 25,000원<br></p>

					<p class="mtb-15" style="border-bottom: 2px solid #F9B500; padding-bottom: 30px;">
					</p>
				</div>
				<div class="col-md-12 col-lg-8">
					<img src="{% static 'images/jmt_04.jpg' %}" alt="" style="padding-top: 20px;">
					<h3 class="mt-30"><a href="#"><b>4. 식객촌<a></b></h3>
					<!-- <ul class="list-li-mr-20 mtb-15">
						<li><a href="#"><b>서울시 공무원들의 가성비 맛집</b></a></li>
					</ul> -->
					<div class="quote-primary mtb-20">
						<h5 class="mt-15" style="padding-bottom:20px;"><b>에디터 한줄평 </b></h5>
						<h5 style="font-style: italic;">정동길에서 줄서서 먹는 추어탕집. 국내산 미꾸라지를 사용하여 매일 새로 끓인다.서울시 공무원들이 가장 자주 방문한 맛집 중 가장 저렴한 맛집으로 지난 3년간 164회의 방문 횟수를 기록했다.</h5>
					</div><!-- quote-primary -->
					<p class="mtb-15"><b>주소:</b> <a href="#">서울 중구 세종대로 55</a><br>
					<b>영업시간:</b> 평일 07:00 - 22:00, 토요일 07:00 - 14:00, 일요일 휴무<br>
					<b>가격:</b> 갓포하루의 '오마카세 정식' 35,000원, 한옥집의 '김치찜' 8,000원<br></p>

					<p class="mtb-15" style="border-bottom: 2px solid #F9B500; padding-bottom: 30px;">
					</p>
				</div>

				<div class="col-md-12 col-lg-8">
					<img src="{% static 'images/jmt_05.jpg' %}" alt="" style="padding-top: 20px;">
					<h3 class="mt-30"><a href="#"><b>5. CHAI797<a></b></h3>
					<!-- <ul class="list-li-mr-20 mtb-15">
						<li><a href="#"><b>행정국의 회식 맛집</b></a></li>
					</ul> -->

					<div class="quote-primary mtb-20">
						<h5 class="mt-15" style="padding-bottom:20px;"><b>에디터 한줄평 </b></h5>
						<h5 style="font-style: italic;">서울시 행정국은 3년간 업무추진비 사용횟수와 금액 면에서 압도적인 1위를 기록했다. (32개월간 업무추진비 사용 2388회, 금액 2억9769천만원) 자주, 많이 간담회를 가지는 행정국이 가장 사랑한 맛집은 바로 동해수산! 쫀득한 회와 된장 베이스의 매운탕, 신선한 과메기까지. 코스의 모든 음식이 평이 좋고, 가격도 부담스럽지 않은 맛집!</h5>
					</div><!-- quote-primary -->
					<p class="mtb-15"><b>주소:</b> <a href="#">서울 중구 을지로5길 26</a><br>
					<b>영업시간:</b> 매일 11:30 - 22:00신정 및 명절 당일 휴무<br>
					<b>가격:</b>탕수육 29,000원, 해물짬뽕 12,000원<br></p>

					<p class="mtb-15" style="border-bottom: 2px solid #F9B500; padding-bottom: 30px;">
					</p>
				</div>

				<div>
				<div>

				<div class="brdr-ash-1 opacty-5"></div>
				<p class="col-sm-5"><b><i class="mlr-10 ion-chevron-right"></i>컨텐츠 더보기</b></p>

				<div class="row">
					<div class="col-sm-5 pl-30">
							<h4 class="pt-20"><a href="03_01.html"><b>서울시장맛집</b></a></h4>
							<ul class="list-li-mr-20 pt-10 mb-30">
								<li class="color-lite-black">by <a href="#" class="color-black"><b>공무원 에디터,</b></a>
								Jan 25, 2018</li>
							</ul>
					</div>

					<div class="col-sm-5 pl-30">
							<h4 class="pt-20"><a href="03_02.html"><b>공무원맛집</b></a></h4>
							<ul class="list-li-mr-20 pt-10 mb-30">
								<li class="color-lite-black">by <a href="#" class="color-black"><b>공무원 에디터,</b></a>
								Jan 25, 2018</li>
							</ul>
						</div>

					<div class="col-sm-5 pl-30">
							<h4 class="pt-20"><a href="03_03.html"><b>단체손님맛집</b></a></h4>
							<ul class="list-li-mr-20 pt-10 mb-30">
								<li class="color-lite-black">by <a href="#" class="color-black"><b>공무원 에디터,</b></a>
									Jan 25, 2018</li>
							</ul>
						</div>

					<div class="col-sm-5 pl-30">
							<h4 class="pt-20"><a href="03_04.html"><b>가성비맛집</b></a></h4>
							<ul class="list-li-mr-20 pt-10 mb-30">
								<li class="color-lite-black">by <a href="#" class="color-black"><b>공무원 에디터,</b></a>
										Jan 25, 2018</li>
							</ul>
						</div>

						<div class="col-sm-5 pl-30">
								<h4 class="pt-20"><a href="03_05.html"><b>행정국맛집</b></a></h4>
								<ul class="list-li-mr-20 pt-10 mb-30">
									<li class="color-lite-black">by <a href="#" class="color-black"><b>공무원 에디터,</b></a>
											Jan 25, 2018</li>
								</ul>
							</div>

						<div class="col-sm-5 pl-30">
								<h4 class="pt-20"><a href="03_06.html"><b>대변인맛집</b></a></h4>
								<ul class="list-li-mr-20 pt-10 mb-30">
									<li class="color-lite-black">by <a href="#" class="color-black"><b>공무원 에디터,</b></a>
													Jan 25, 2018</li>
								</ul>
							</div>

				</div><!-- row -->

				<div class="d-none d-md-block d-lg-none col-md-3"></div>
				</div><!-- col-md-3 -->

			</div><!-- row -->

		</div><!-- container -->
	</section>
{% endblock content %}
