<!doctype html>

<html>
<head>
  <meta charset='UTF-8'
  ><meta name='viewport' content='width=device-width initial-scale=1'>
  <title>서울시 공무원 비밀맛집</title>
  <style>
    table{
     border-collapse: collapse;
    }

    .highlight{
      font-weight: bold;
      color: red;
    }

    p{
      color: blue;
    }
    h2{
      margin-top:50px;
    }
    h3{
      margin-top:50px;
    }
  </style>
</head>
<body>
  <h1>서울시 공무원 비밀맛집</h1>
  <p>서울시 공무원 비밀맛집 프로젝트는 데잇걸즈2 프로그램의 이지윤 교육생의 개인 프로젝트 입니다.
    데잇걸즈2는 과학기술정보통신부와 한국정보화진흥원이 주관하는 SW여성인재 빅데이터 분석 교육과정으로,
    상세한 소개는 <a href="https://ko-kr.facebook.com/dataitgirls/">페이스북 페이지</a>를 참조 부탁 드립니다.</p>
  <p>Cheif Advisor : 뉴로어소시에이츠 김윤이 대표</p>
  <p>Marketing Advisor : 김지영</p>
  <p>Technical Advisor : 애런, 배로</p>
  <p>Design Advisor : 김진영</p>

  <p>
    "서울시 공무원 비밀맛집" 프로젝트는
    서울시 고위공무원(4급 이상)의 업무추진비 내역 3년치, 51,456건을 분석하여
    서울시 공무원들이 자주 가는 진짜 맛집을 알아보는 프로젝트입니다.

    본 페이지는 각 카테고리별 Top3 식당을 보여주며,
    해당 데이터는 13.30.09:8080/dining_list 에서 콘텐츠화 되어 서비스되고 있습니다.
  </p>
  <h2>카테고리별 맛집</h2>
  <h3>1. 가장 자주 간 식당</h3>
  <p>'참숯골' 식당이 3년 내내 순위권을 기록했다. 평균 6-7명의 단체 손님을 모시고 자주 가는 것을 알 수 있다. </p>
  <h4>전체 기간(2016년~현재)</h4>
    <table border="1">
    <thead>
      <tr>
        <th>식당명</th>
        <th class=highlight>방문횟수</th>
        <th>지불금액</th>
        <th>총 인원</th>
        <th>회당지불금액</th>
        <th>인당지불금액</th>
        <th>회당명수</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>참숯골</td>
        <td>684</td>
        <td>79914620</td>
        <td>4653</td>
        <td>116834</td>
        <td>17175</td>
        <td>7</td>
      </tr>
      <tr>
        <td>동해일식</td>
        <td>377</td>
        <td>55124400</td>
        <td>2248</td>
        <td>146219</td>
        <td>24522</td>
        <td>6</td>
      </tr>
      <tr>
        <td>바닷가작은부엌</td>
        <td>310</td>
        <td>45153200</td>
        <td>1920</td>
        <td>145655</td>
        <td>23517</td>
        <td>6</td>
      </tr>
    </tbody>
  </table>
  <h4>2016년</h4>
    <table border="1">
    <thead>
      <tr>
        <th>식당명</th>
        <th class=highlight>방문횟수</th>
        <th>지불금액</th>
        <th>총 인원</th>
        <th>회당지불금액</th>
        <th>인당지불금액</th>
        <th>회당명수</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>제일가든</td>
        <td>74</td>
        <td>17996020</td>
        <td>794</td>
        <td>243189</td>
        <td>22665</td>
        <td>11</td>
      </tr>
      <tr>
        <td>라칸티나</td>
        <td>68</td>
        <td>12256400</td>
        <td>359</td>
        <td>180241</td>
        <td>34140</td>
        <td>5</td>
      </tr>
      <tr>
        <td>참숯골</td>
        <td>60</td>
        <td>6074100</td>
        <td>362</td>
        <td>101235</td>
        <td>16779</td>
        <td>6</td>
      </tr>
    </tbody>
  </table>
  <h4>2017년</h4>
    <table border="1">
    <thead>
      <tr>
        <th>식당명</th>
        <th class=highlight>방문횟수</th>
        <th>지불금액</th>
        <th>총 인원</th>
        <th>회당지불금액</th>
        <th>인당지불금액</th>
        <th>회당명수</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>참숯골</td>
        <td>385</td>
        <td>41967120</td>
        <td>2577</td>
        <td>109006</td>
        <td>16285</td>
        <td>7</td>
      </tr>
      <tr>
        <td>한가람</td>
        <td>225</td>
        <td>22636550</td>
        <td>1357</td>
        <td>100607</td>
        <td>16681</td>
        <td>6</td>
      </tr>
      <tr>
        <td>동해수산</td>
        <td>186</td>
        <td>24744000</td>
        <td>1006</td>
        <td>133032</td>
        <td>24596</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
  <h4>2018년</h4>
    <table border="1">
      <thead>
        <tr>
          <th>식당명</th>
          <th class=highlight>방문횟수</th>
          <th>지불금액</th>
          <th>총 인원</th>
          <th>회당지불금액</th>
          <th>인당지불금액</th>
          <th>회당명수</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>참숯골</td>
          <td>238</td>
          <td>31645400</td>
          <td>1701</td>
          <td>132964</td>
          <td>18604</td>
          <td>7</td>
        </tr>
        <tr>
          <td>동해일식</td>
          <td>188</td>
          <td>30410000</td>
          <td>1253</td>
          <td>161755</td>
          <td>24270</td>
          <td>7</td>
        </tr>
        <tr>
          <td>창고43</td>
          <td>126</td>
          <td>14937300</td>
          <td>807</td>
          <td>118550</td>
          <td>18510</td>
          <td>6</td>
        </tr>
      </tbody>
  </table>

  <h3>2. 가장 돈을 많이 쓴 식당들</h3>
  <p>2016, 2017년에 사랑받았던 제일가든이 순위권에서 사라지고, 가장 자주 방문했던 참숯골이 이번 카테고리에서도 역시 순위권에 올랐다 </p>
    <h4>전체(2016년~현재)</h4>
      <table border="1">
       <thead>
        <tr>
          <th>식당명</th>
          <th>방문횟수</th>
          <th class=highlight>지불금액</th>
          <th>총 인원</th>
          <th>회당지불금액</th>
          <th>인당지불금액</th>
          <th>회당명수</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>참숯골</td>
          <td>684</td>
          <td>79914620</td>
          <td>4653</td>
          <td>116834</td>
          <td>17175</td>
          <td>7</td>
        </tr>
        <tr>
          <td>동해일식</td>
          <td>377</td>
          <td>55124400</td>
          <td>2248</td>
          <td>146219</td>
          <td>24522</td>
          <td>6</td>
        </tr>
        <tr>
          <td>라칸티나</td>
          <td>271</td>
          <td>48128400</td>
          <td>1812</td>
          <td>177596</td>
          <td>26561</td>
          <td>7</td>
        </tr>
        </tbody>
      </table>
    <h4>2016년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>식당명</th>
      <th>방문횟수</th>
      <th class=highlight>지불금액</th>
      <th>총 인원</th>
      <th>회당지불금액</th>
      <th>인당지불금액</th>
      <th>회당명수</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>제일가든</td>
      <td>74</td>
      <td>17996020</td>
      <td>794</td>
      <td>243189</td>
      <td>22665</td>
      <td>11</td>
    </tr>
    <tr>
      <td>라칸티나</td>
      <td>68</td>
      <td>12256400</td>
      <td>359</td>
      <td>180241</td>
      <td>34140</td>
      <td>5</td>
    </tr>
    <tr>
      <td>동원참치</td>
      <td>54</td>
      <td>8951000</td>
      <td>299</td>
      <td>165759</td>
      <td>29936</td>
      <td>6</td>
    </tr>
  </tbody>
  </table>
    <h4>2017년</h4>
    <table border="1">
  <thead>
    <tr>
      <th>식당명</th>
      <th>방문횟수</th>
      <th class=highlight>지불금액</th>
      <th>총 인원</th>
      <th>회당지불금액</th>
      <th>인당지불금액</th>
      <th>회당명수</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>참숯골</td>
      <td>385</td>
      <td>41967120</td>
      <td>2577</td>
      <td>109006</td>
      <td>16285</td>
      <td>7</td>
    </tr>
    <tr>
      <td>동해수산</td>
      <td>186</td>
      <td>24744000</td>
      <td>1006</td>
      <td>133032</td>
      <td>24596</td>
      <td>5</td>
    </tr>
    <tr>
      <td>제일가든</td>
      <td>158</td>
      <td>23975000</td>
      <td>1231</td>
      <td>151741</td>
      <td>19476</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
    <h4>2018년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>식당명</th>
      <th>방문횟수</th>
      <th class=highlight>지불금액</th>
      <th>총 인원</th>
      <th>회당지불금액</th>
      <th>인당지불금액</th>
      <th>회당명수</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>참숯골</td>
      <td>238</td>
      <td>31645400</td>
      <td>1701</td>
      <td>132964</td>
      <td>18604</td>
      <td>7</td>
    </tr>
    <tr>
      <td>동해일식</td>
      <td>188</td>
      <td>30410000</td>
      <td>1253</td>
      <td>161755</td>
      <td>24270</td>
      <td>7</td>
    </tr>
    <tr>
      <td>만복림</td>
      <td>117</td>
      <td>22605700</td>
      <td>985</td>
      <td>193211</td>
      <td>22950</td>
      <td>8</td>
    </tr>
  </tbody>
</table>

  <h3>3. 한 번에 돈을 많이 쓴 식당들</h3>
  <p>업무추진비 사용 횟수와 지불금액을 통해 1회당 지불한 금액을 추산하여
  한 번에 돈을 많이 쓴 식당을 집계했다.  </p>
    <h4>전체(2016년~현재)</h4>
      <table border="1">
  <thead>
    <tr>
      <th>식당명</th>
      <th>방문횟수</th>
      <th>지불금액</th>
      <th>총 인원</th>
      <th class=highlight>회당지불금액</th>
      <th>인당지불금액</th>
      <th>회당명수</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>더미</td>
      <td>107</td>
      <td>32091000</td>
      <td>1227</td>
      <td>299916</td>
      <td>26154</td>
      <td>11</td>
    </tr>
    <tr>
      <td>진미족발</td>
      <td>55</td>
      <td>14689500</td>
      <td>762</td>
      <td>267082</td>
      <td>19278</td>
      <td>14</td>
    </tr>
    <tr>
      <td>송학</td>
      <td>60</td>
      <td>15229000</td>
      <td>583</td>
      <td>253817</td>
      <td>26122</td>
      <td>10</td>
    </tr>
  </tbody>
</table>
    <h4>2016년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>식당명</th>
      <th>방문횟수</th>
      <th>지불금액</th>
      <th>총 인원</th>
      <th class=highlight>회당지불금액</th>
      <th>인당지불금액</th>
      <th>회당명수</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>제일가든</td>
      <td>74</td>
      <td>17996020</td>
      <td>794</td>
      <td>243189</td>
      <td>22665</td>
      <td>11</td>
    </tr>
    <tr>
      <td>몽중헌</td>
      <td>33</td>
      <td>7339100</td>
      <td>210</td>
      <td>222397</td>
      <td>34948</td>
      <td>6</td>
    </tr>
    <tr>
      <td>동해수산</td>
      <td>41</td>
      <td>7491000</td>
      <td>286</td>
      <td>182707</td>
      <td>26192</td>
      <td>7</td>
    </tr>
  </tbody>
</table>
    <h4>2017년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>식당명</th>
      <th>방문횟수</th>
      <th>지불금액</th>
      <th>총 인원</th>
      <th class=highlight>회당지불금액</th>
      <th>인당지불금액</th>
      <th>회당명수</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>더미</td>
      <td>43</td>
      <td>10678000</td>
      <td>405</td>
      <td>248326</td>
      <td>26365</td>
      <td>9</td>
    </tr>
    <tr>
      <td>오륙도</td>
      <td>57</td>
      <td>11692000</td>
      <td>497</td>
      <td>205123</td>
      <td>23525</td>
      <td>9</td>
    </tr>
    <tr>
      <td>삼원</td>
      <td>41</td>
      <td>7991000</td>
      <td>329</td>
      <td>194902</td>
      <td>24289</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
    <h4>2018년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>식당명</th>
      <th>방문횟수</th>
      <th>지불금액</th>
      <th>총 인원</th>
      <th class=highlight>회당지불금액</th>
      <th>인당지불금액</th>
      <th>회당명수</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>더미</td>
      <td>48</td>
      <td>16554000</td>
      <td>655</td>
      <td>344875</td>
      <td>25273</td>
      <td>14</td>
    </tr>
    <tr>
      <td>열빈</td>
      <td>64</td>
      <td>13733000</td>
      <td>643</td>
      <td>214578</td>
      <td>21358</td>
      <td>10</td>
    </tr>
    <tr>
      <td>만복림</td>
      <td>117</td>
      <td>22605700</td>
      <td>985</td>
      <td>193211</td>
      <td>22950</td>
      <td>8</td>
    </tr>
  </tbody>
</table>

  <h3>4. 가장 비싸게 먹은 식당들</h3>
  <p>업무추진비 사용 시 참가자 명수와 지불금액을 통해 1인당 사용 금액을 추산하였다.
  김영란법의 영향으로 1인당 지출금액은 2016년 3만원대에서 2017년 2만 7천원대, 2018년 2만 5천원대로
    점점 감소하는 추세를 보인다. </p>
    <h4>전체(2016년~현재)</h4>
      <table border="1">
        <thead>
          <tr>
            <th>식당명</th>
            <th>방문횟수</th>
            <th>지불금액</th>
            <th>총 인원</th>
            <th>회당지불금액</th>
            <th class=highlight>인당지불금액</th>
            <th>회당명수</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>루이</td>
            <td>32</td>
            <td>5866800</td>
            <td>180</td>
            <td>183338</td>
            <td>32593</td>
            <td>6</td>
          </tr>
          <tr>
            <td>몽중헌</td>
            <td>62</td>
            <td>12552500</td>
            <td>403</td>
            <td>202460</td>
            <td>31148</td>
            <td>6</td>
          </tr>
          <tr>
            <td>달개비자연음식</td>
            <td>47</td>
            <td>9173950</td>
            <td>310</td>
            <td>195190</td>
            <td>29593</td>
            <td>7</td>
          </tr>
        </tbody>
      </table>
    <h4>2016년</h4>
      <table border="1">
        <thead>
          <tr>
            <th>식당명</th>
            <th>방문횟수</th>
            <th>지불금액</th>
            <th>총 인원</th>
            <th>회당지불금액</th>
            <th class=highlight>인당지불금액</th>
            <th>회당명수</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>몽중헌</td>
            <td>33</td>
            <td>7339100</td>
            <td>210</td>
            <td>222397</td>
            <td>34948</td>
            <td>6</td>
          </tr>
          <tr>
            <td>라칸티나</td>
            <td>68</td>
            <td>12256400</td>
            <td>359</td>
            <td>180241</td>
            <td>34140</td>
            <td>5</td>
          </tr>
          <tr>
            <td>동해일식</td>
            <td>44</td>
            <td>5707400</td>
            <td>180</td>
            <td>129714</td>
            <td>31708</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
    <h4>2017년</h4>
      <table border="1">
        <thead>
          <tr>
            <th>식당명</th>
            <th>방문횟수</th>
            <th>지불금액</th>
            <th>총 인원</th>
            <th>회당지불금액</th>
            <th  class=highlight>인당지불금액</th>
            <th>회당명수</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>메이징에이</td>
            <td>35</td>
            <td>4752500</td>
            <td>176</td>
            <td>135786</td>
            <td>27003</td>
            <td>5</td>
          </tr>
          <tr>
            <td>더미</td>
            <td>43</td>
            <td>10678000</td>
            <td>405</td>
            <td>248326</td>
            <td>26365</td>
            <td>9</td>
          </tr>
          <tr>
            <td>더테이블</td>
            <td>67</td>
            <td>11078000</td>
            <td>425</td>
            <td>165343</td>
            <td>26066</td>
            <td>6</td>
          </tr>
        </tbody>
      </table>
    <h4>2018년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>식당명</th>
      <th>방문횟수</th>
      <th>지불금액</th>
      <th>총 인원</th>
      <th>회당지불금액</th>
      <th class=highlight>인당지불금액</th>
      <th>회당명수</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>오륙도</td>
      <td>31</td>
      <td>5130500</td>
      <td>198</td>
      <td>165500</td>
      <td>25912</td>
      <td>6</td>
    </tr>
    <tr>
      <td>강가</td>
      <td>33</td>
      <td>4131500</td>
      <td>160</td>
      <td>125197</td>
      <td>25822</td>
      <td>5</td>
    </tr>
    <tr>
      <td>더미</td>
      <td>48</td>
      <td>16554000</td>
      <td>655</td>
      <td>344875</td>
      <td>25273</td>
      <td>14</td>
    </tr>
  </tbody>
</table>

  <h3>5. 가장 많은 인원이 방문한 식당들</h3>
    <h4>전체(2016년~현재)</h4>
      <table border="1">
  <thead>
    <tr>
      <th>식당명</th>
      <th>방문횟수</th>
      <th>지불금액</th>
      <th class=highlight>총 인원</th>
      <th>회당지불금액</th>
      <th>인당지불금액</th>
      <th>회당명수</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>참숯골</td>
      <td>684</td>
      <td>79914620</td>
      <td>4653</td>
      <td>116834</td>
      <td>17175</td>
      <td>7</td>
    </tr>
    <tr>
      <td>진주회관</td>
      <td>115</td>
      <td>6459000</td>
      <td>2537</td>
      <td>56165</td>
      <td>2546</td>
      <td>22</td>
    </tr>
    <tr>
      <td>동해일식</td>
      <td>377</td>
      <td>55124400</td>
      <td>2248</td>
      <td>146219</td>
      <td>24522</td>
      <td>6</td>
    </tr>
  </tbody>
</table>
    <h4>2016년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>식당명</th>
      <th>방문횟수</th>
      <th>지불금액</th>
      <th class=highlight>총 인원</th>
      <th>회당지불금액</th>
      <th>인당지불금액</th>
      <th>회당명수</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>제일가든</td>
      <td>74</td>
      <td>17996020</td>
      <td>794</td>
      <td>243189</td>
      <td>22665</td>
      <td>11</td>
    </tr>
    <tr>
      <td>참숯골</td>
      <td>60</td>
      <td>6074100</td>
      <td>362</td>
      <td>101235</td>
      <td>16779</td>
      <td>6</td>
    </tr>
    <tr>
      <td>라칸티나</td>
      <td>68</td>
      <td>12256400</td>
      <td>359</td>
      <td>180241</td>
      <td>34140</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
    <h4>2017년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>식당명</th>
      <th>방문횟수</th>
      <th>지불금액</th>
      <th class=highlight>총 인원</th>
      <th>회당지불금액</th>
      <th>인당지불금액</th>
      <th>회당명수</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>참숯골</td>
      <td>385</td>
      <td>41967120</td>
      <td>2577</td>
      <td>109006</td>
      <td>16285</td>
      <td>7</td>
    </tr>
    <tr>
      <td>진주회관</td>
      <td>62</td>
      <td>3510000</td>
      <td>2314</td>
      <td>56613</td>
      <td>1517</td>
      <td>37</td>
    </tr>
    <tr>
      <td>한가람</td>
      <td>225</td>
      <td>22636550</td>
      <td>1357</td>
      <td>100607</td>
      <td>16681</td>
      <td>6</td>
    </tr>
  </tbody>
</table>
    <h4>2018년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>식당명</th>
      <th>방문횟수</th>
      <th>지불금액</th>
      <th class=highlight>총 인원</th>
      <th>회당지불금액</th>
      <th>인당지불금액</th>
      <th>회당명수</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>참숯골</td>
      <td>238</td>
      <td>31645400</td>
      <td>1701</td>
      <td>132964</td>
      <td>18604</td>
      <td>7</td>
    </tr>
    <tr>
      <td>동해일식</td>
      <td>188</td>
      <td>30410000</td>
      <td>1253</td>
      <td>161755</td>
      <td>24270</td>
      <td>7</td>
    </tr>
    <tr>
      <td>만복림</td>
      <td>117</td>
      <td>22605700</td>
      <td>985</td>
      <td>193211</td>
      <td>22950</td>
      <td>8</td>
    </tr>
  </tbody>
</table>

<h2>부서별 맛집</h2>
  <h3>1. 가장 자주 법카긁은 부서</h3>
    <h4>전체 기간(2016년~현재)</h4>
      <table border="1">
  <thead>
    <tr>
      <th>부서</th>
      <th  class=highlight>방문횟수</th>
      <th>총 인원</th>
      <th>지불금액</th>
      <th>인당지불금액</th>
      <th>회당지불금액</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>행정국</td>
      <td>2388</td>
      <td>17071</td>
      <td>297689495.0</td>
      <td>19855</td>
      <td>124661</td>
    </tr>
    <tr>
      <td>시민소통기획관</td>
      <td>2045</td>
      <td>16583</td>
      <td>276098922.0</td>
      <td>20414</td>
      <td>135012</td>
    </tr>
    <tr>
      <td>정무부시장</td>
      <td>1534</td>
      <td>10530</td>
      <td>228080150.0</td>
      <td>25354</td>
      <td>148683</td>
    </tr>
  </tbody>
</table>
    <h4>2016년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>부서</th>
      <th class=highlight>방문횟수</th>
      <th>총 인원</th>
      <th>지불금액</th>
      <th>인당지불금액</th>
      <th>회당지불금액</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>정무부시장</td>
      <td>625</td>
      <td>3891</td>
      <td>90778450.0</td>
      <td>27795</td>
      <td>145246</td>
    </tr>
    <tr>
      <td>행정국</td>
      <td>395</td>
      <td>2884</td>
      <td>46919300.0</td>
      <td>18715</td>
      <td>118783</td>
    </tr>
    <tr>
      <td>서울특별시장</td>
      <td>286</td>
      <td>3787</td>
      <td>82190120.0</td>
      <td>23476</td>
      <td>287378</td>
    </tr>
  </tbody>
</table>
    <h4>2017년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>부서</th>
      <th  class=highlight>방문횟수</th>
      <th>총 인원</th>
      <th>지불금액</th>
      <th>인당지불금액</th>
      <th>회당지불금액</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>행정국</td>
      <td>1280</td>
      <td>8992</td>
      <td>154039840.0</td>
      <td>19342</td>
      <td>120344</td>
    </tr>
    <tr>
      <td>시민소통기획관</td>
      <td>1168</td>
      <td>10193</td>
      <td>164733999.0</td>
      <td>19886</td>
      <td>141039</td>
    </tr>
    <tr>
      <td>대변인</td>
      <td>871</td>
      <td>5712</td>
      <td>95435580.0</td>
      <td>19714</td>
      <td>109570</td>
    </tr>
  </tbody>
</table>
    <h4>2018년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>부서</th>
      <th  class=highlight>방문횟수</th>
      <th>총 인원</th>
      <th>지불금액</th>
      <th>인당지불금액</th>
      <th>회당지불금액</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>행정국</td>
      <td>692</td>
      <td>4973</td>
      <td>95344355.0</td>
      <td>22065</td>
      <td>137781</td>
    </tr>
    <tr>
      <td>시민소통기획관</td>
      <td>641</td>
      <td>4694</td>
      <td>81016853.0</td>
      <td>20800</td>
      <td>126391</td>
    </tr>
    <tr>
      <td>기획조정실</td>
      <td>558</td>
      <td>3800</td>
      <td>75255710.0</td>
      <td>22853</td>
      <td>134867</td>
    </tr>
  </tbody>
</table>

  <h3>2. 가장 많음 금액을 법카긁은 부서</h3>
    <h4>전체 기간(2016년~현재)</h4>
      <table border="1">
  <thead>
    <tr>
      <th>부서</th>
      <th>방문횟수</th>
      <th>총 인원</th>
      <th class=highlight>지불금액</th>
      <th>인당지불금액</th>
      <th>회당지불금액</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>행정국</td>
      <td>2388</td>
      <td>17071</td>
      <td>297689495.0</td>
      <td>19855</td>
      <td>124661</td>
    </tr>
    <tr>
      <td>시민소통기획관</td>
      <td>2045</td>
      <td>16583</td>
      <td>276098922.0</td>
      <td>20414</td>
      <td>135012</td>
    </tr>
    <tr>
      <td>행정2부시장</td>
      <td>722</td>
      <td>4917</td>
      <td>230972660.0</td>
      <td>19217</td>
      <td>319907</td>
    </tr>
  </tbody>
</table>
    <h4>2016년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>부서</th>
      <th>방문횟수</th>
      <th>총 인원</th>
      <th class=highlight >지불금액</th>
      <th>인당지불금액</th>
      <th>회당지불금액</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>정무부시장</td>
      <td>625</td>
      <td>3891</td>
      <td>90778450.0</td>
      <td>27795</td>
      <td>145246</td>
    </tr>
    <tr>
      <td>서울특별시장</td>
      <td>286</td>
      <td>3787</td>
      <td>82190120.0</td>
      <td>23476</td>
      <td>287378</td>
    </tr>
    <tr>
      <td>행정2부시장</td>
      <td>258</td>
      <td>1662</td>
      <td>75557400.0</td>
      <td>22041</td>
      <td>292858</td>
    </tr>
  </tbody>
</table>
    <h4>2017년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>부서</th>
      <th>방문횟수</th>
      <th>총 인원</th>
      <th  class=highlight>지불금액</th>
      <th>인당지불금액</th>
      <th>회당지불금액</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>시민소통기획관</td>
      <td>1168</td>
      <td>10193</td>
      <td>164733999.0</td>
      <td>19886</td>
      <td>141039</td>
    </tr>
    <tr>
      <td>행정국</td>
      <td>1280</td>
      <td>8992</td>
      <td>154039840.0</td>
      <td>19342</td>
      <td>120344</td>
    </tr>
    <tr>
      <td>기획조정실</td>
      <td>868</td>
      <td>6337</td>
      <td>101052048.0</td>
      <td>17857</td>
      <td>116419</td>
    </tr>
  </tbody>
</table>
    <h4>2018년</h4>
      <table border="1">
      <thead>
        <tr>
          <th>부서</th>
          <th>방문횟수</th>
          <th>총 인원</th>
          <th class=highlight>지불금액</th>
          <th>인당지불금액</th>
          <th>회당지불금액</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>행정국</td>
          <td>692</td>
          <td>4973</td>
          <td>95344355.0</td>
          <td>22065</td>
          <td>137781</td>
        </tr>
        <tr>
          <td>시민소통기획관</td>
          <td>641</td>
          <td>4694</td>
          <td>81016853.0</td>
          <td>20800</td>
          <td>126391</td>
        </tr>
        <tr>
          <td>기획조정실</td>
          <td>558</td>
          <td>3800</td>
          <td>75255710.0</td>
          <td>22853</td>
          <td>134867</td>
        </tr>
      </tbody>
    </table>

  <h3>3. 가장 비싼 것을 먹는 부서</h3>
  <p> 행정1부시장과 정무부시장이 3년 연속으로 순위권 내에 들었음을 알 수 있다</p>
    <h4>전체 기간(2016년~현재)</h4>
      <table border="1">
  <thead>
    <tr>
      <th>부서</th>
      <th>방문횟수</th>
      <th>총 인원</th>
      <th>지불금액</th>
      <th class=highlight>인당지불금액</th>
      <th>회당지불금액</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>행정1부시장</td>
      <td>721</td>
      <td>2700</td>
      <td>166838070.0</td>
      <td>25398</td>
      <td>231398</td>
    </tr>
    <tr>
      <td>정무부시장</td>
      <td>1534</td>
      <td>8996</td>
      <td>228080150.0</td>
      <td>25354</td>
      <td>148683</td>
    </tr>
    <tr>
      <td>비상기획관</td>
      <td>359</td>
      <td>1945</td>
      <td>42716760.0</td>
      <td>21962</td>
      <td>118988</td>
    </tr>
  </tbody>
</table>
    <h4>2016년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>부서</th>
      <th>방문횟수</th>
      <th>총 인원</th>
      <th>지불금액</th>
      <th class=highlight>인당지불금액</th>
      <th>회당지불금액</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>정무부시장</td>
      <td>625</td>
      <td>3266</td>
      <td>90778450.0</td>
      <td>27795</td>
      <td>145246</td>
    </tr>
    <tr>
      <td>행정1부시장</td>
      <td>266</td>
      <td>1832</td>
      <td>50613920.0</td>
      <td>27628</td>
      <td>190278</td>
    </tr>
    <tr>
      <td>서울특별시장</td>
      <td>286</td>
      <td>3501</td>
      <td>82190120.0</td>
      <td>23476</td>
      <td>287378</td>
    </tr>
  </tbody>
</table>
    <h4>2017년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>부서</th>
      <th>방문횟수</th>
      <th>총 인원</th>
      <th>지불금액</th>
      <th class=highlight>인당지불금액</th>
      <th>회당지불금액</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>행정1부시장</td>
      <td>308</td>
      <td>1430</td>
      <td>72502090.0</td>
      <td>25756</td>
      <td>235396</td>
    </tr>
    <tr>
      <td>정무부시장</td>
      <td>613</td>
      <td>3691</td>
      <td>86771100.0</td>
      <td>21701</td>
      <td>141552</td>
    </tr>
    <tr>
      <td>비상기획관</td>
      <td>214</td>
      <td>1051</td>
      <td>22807750.0</td>
      <td>21701</td>
      <td>106578</td>
    </tr>
  </tbody>
</table>
    <h4>2018년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>부서</th>
      <th>방문횟수</th>
      <th>총 인원</th>
      <th>지불금액</th>
      <th class=highlight>인당지불금액</th>
      <th>회당지불금액</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>행정1부시장</td>
      <td>147</td>
      <td>484</td>
      <td>43722060.0</td>
      <td>90335</td>
      <td>297429</td>
    </tr>
    <tr>
      <td>행정2부시장</td>
      <td>190</td>
      <td>1479</td>
      <td>68391660.0</td>
      <td>46242</td>
      <td>359956</td>
    </tr>
    <tr>
      <td>정무부시장</td>
      <td>296</td>
      <td>2335</td>
      <td>50530600.0</td>
      <td>21641</td>
      <td>170711</td>
    </tr>
  </tbody>
</table>

  <h3>4. 가장 싼 것을 먹는 부서</h3>
    <h4>전체 기간(2016년~현재)</h4>
      <table border="1">
  <thead>
    <tr>
      <th>부서</th>
      <th>방문횟수</th>
      <th>총 인원</th>
      <th>지불금액</th>
      <th class=highlight>인당지불금액</th>
      <th>회당지불금액</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>기후환경본부</td>
      <td>1252</td>
      <td>8921</td>
      <td>114193360.0</td>
      <td>12801</td>
      <td>91209</td>
    </tr>
    <tr>
      <td>기술심사담당관</td>
      <td>114</td>
      <td>1030</td>
      <td>14562200.0</td>
      <td>14138</td>
      <td>127739</td>
    </tr>
    <tr>
      <td>도시공간개선단</td>
      <td>318</td>
      <td>1746</td>
      <td>26354982.0	</td>
      <td>15094</td>
      <td>82877</td>
    </tr>
  </tbody>
</table>
    <h4>2016년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>부서</th>
      <th>방문횟수</th>
      <th>총 인원</th>
      <th>지불금액</th>
      <th class=highlight>인당지불금액</th>
      <th>회당지불금액</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>시민건강국</td>
      <td>62</td>
      <td>570</td>
      <td>6750010.0</td>
      <td>11842</td>
      <td>108871</td>
    </tr>
    <tr>
      <td>기후환경본부</td>
      <td>83</td>
      <td>496</td>
      <td>6951330.0</td>
      <td>14015</td>
      <td>83751</td>
    </tr>
    <tr>
      <td>복지본부</td>
      <td>107</td>
      <td>511</td>
      <td>7766480.0	</td>
      <td>15199</td>
      <td>72584</td>
    </tr>
  </tbody>
</table>
    <h4>2017년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>부서</th>
      <th>방문횟수</th>
      <th>총 인원</th>
      <th>지불금액</th>
      <th class=highlight>인당지불금액</th>
      <th>회당지불금액</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>기후환경본부</td>
      <td>746</td>
      <td>6015</td>
      <td>66164101.0</td>
      <td>11000</td>
      <td>88692</td>
    </tr>
    <tr>
      <td>기술심사담당관</td>
      <td>63</td>
      <td>627</td>
      <td>8544300.0</td>
      <td>13627</td>
      <td>135624</td>
    </tr>
    <tr>
      <td>관광체육국</td>
      <td>576</td>
      <td>3374</td>
      <td>51839805.0	</td>
      <td>15364</td>
      <td>90000</td>
    </tr>
  </tbody>
</table>
    <h4>2018년</h4>
      <table border="1">
  <thead>
    <tr>
      <th>부서</th>
      <th>방문횟수</th>
      <th>총 인원</th>
      <th>지불금액</th>
      <th class=highlight>인당지불금액</th>
      <th>회당지불금액</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>재무국</td>
      <td>432</td>
      <td>3098</td>
      <td>42172210.0	</td>
      <td>13613</td>
      <td>97621</td>
    </tr>
    <tr>
      <td>도시공간개선단</td>
      <td>124</td>
      <td>828</td>
      <td>11298032.0</td>
      <td>13645</td>
      <td>91113</td>
    </tr>
    <tr>
      <td>기술심사담당관</td>
      <td>39</td>
      <td>306</td>
      <td>4277500.0</td>
      <td>13979</td>
      <td>109679</td>
    </tr>
  </tbody>
</table>
</body>
</html>
