{% extends "restaurants_map/base.html" %}

{% block content %}
<style>
.single_dining_box {
  width: 500px;
  padding: 25px;
  display:block;
  margin:auto;
}

.header {
  background-color: #eeeeee;
  width: 500px;
  padding: 25px;
  display:block;
  margin:auto;
}

.dining_subject{
  font-size: 1.3rem;
  font-family: 'Noto Sans KR';
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

h5 {
  font-size: 3rem;
  font-family: 'Noto Sans KR';
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

img {
  height: 450px;
  width: 450px;
  background-color: #171A3D;
  display:block;
  margin:auto;
}

.dining_desc {
  font-size: 1rem;
}

.dining_desc {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dining_info {
  font-size: 1rem;
  margin-top : 7px;
  margin-bottom : 7px;
}

.dining_addr {
  font-size: 1rem;
  margin-top:20px;
}
</style>
<div class="header">
  <h5 class="dining_name">공무원피셜 존맛탱 맛집</h5>
  <h4 class="dining_subject">업무추진비 51,456건을 분석해 알아낸 진짜 맛집 6곳</h4>
  <p>블로그, 인스타그램 보고 찾아갔는데 실망했던 사람들 모여라!</br>
    서울시 업무추진비 51,456을 분석해 알아낸 진짜 맛집 6곳을 소개한다.
  </p>
</div>

<div class="single_dining_box">
  <h4 class="dining_subject">박원순 시장의 최애맛집</h5>
  <h5 class="dining_name">달개비 자연음식</h5>
  <img class="dining_img"/>
  <p class="dining_desc">
    박원순 시장이 거의 매 달 방문하는 서울 양반집 스타일의 코스요리집.
    유기농 식재료에 인공조미료를 첨가하지 않은, 그야말로 '자연밥상'을 맛볼 수 있다.
    조용한 분위기에서 정갈한 한정식을 맛볼 수 있어
    정무부시장 등 고위직들이 자주 찾는 맛집!<br />
  </p>
  <img class="dining_img"/>
  <p class="dining_info dining_addr"><b>주소</b> 서울시 중구 정동 3-1</p>
  <p class="dining_info"><b>영업시간</b> 12:00 ~ 22:00 (일 휴무)</p>
  <p class="dining_info"><b>가격</b> 한상차림 29,700원, 특선 정식 44,000원</p>
  <p class="dining_info"><a href="http://dalgaebi.co.kr/">▶ 식당상세정보</a></p>
  <p class="dining_info">▶ 서울시장맛집 더보기</p>
</div>

<div class="single_dining_box">
  <h4 class="dining_subject">서울시 공무원의 최애맛집</h5>
  <h5 class="dining_name">참숯골</h5>
  <img class="dining_img"/>
  <p class="dining_desc">
    양질의 한우를 업소 내의 푸줏간에서 해체작업을 하는 소고기집.
    서울시 공무원들이 <b>한 해 평균 273회 방문</b>하는 인기 맛집으로,
    지난 3년간 서울시의 업무추진비가 가장 자주, 많이 쓰인 식당이기도 하다.
    가족단위, 단체연회 등 다양한 규모의 객실이 구비되어 있다.
  </p>
  <p class="dining_info dining_addr"><b>주소</b> 서울 중구 무교로 16</p>
  <p class="dining_info">영업시간 11:00 - 22:00 (명절 휴무)</p>
  <p class="dining_info">가격 솥비빔밥 12,000원, 꽃등심 53,900원</p>
  <p class="dining_info">
    <a href="https://store.naver.com/restaurants/detail?entry=plt&id=11714464&query=%EC%B0%B8%EC%88%AF%EA%B3%A8">
      ▶ 식당상세정보
    </a>
  </p>
  <p class="dining_info">▶ 서울시 공무원 맛집 더보기</p>
</div>

<div class="single_dining_box">
  <h4 class="dining_subject">서울시 공무원들이 단체손님 모시고 가는 맛집</h5>
  <h5 class="dining_name">만복림</h5>
  <img class="dining_img"/>
  <p class="dining_desc">
    서울시 공무원들이 단체손님을 모시고 <b>2018년에만 117번 방문</b>한 만복림.
    작은 룸들이 다양하게 마련되어 있어 회식 장소로 인기이다.
    인기메뉴는 단연 바삭하고 매콤한 새우칠리소스!
    식사류도 깔끔하고, 달지 않다는 평.
  </p>
  <p class="dining_info dining_addr">서울 중구 후암로 98</p>
  <p class="dining_info">영업시간 11:30 - 22:00 (명절 휴무)</p>
  <p class="dining_info">가격 굴짬뽕 9,000원, 새우칠리 소 28,000원</p>
  <p class="dining_info">
    <a href="https://store.naver.com/restaurants/detail?entry=plt&id=31259151&query=%EB%A7%8C%EB%B3%B5%EB%A6%BC">
      ▶ 식당상세정보
    </a>
  </p>
  <p class="dining_info">▶ 서울시 단체손님 맛집 더보기</p>
</div>


<div class="single_dining_box">
  <h4 class="dining_subject">서울시 공무원들의 가성비 맛집</h5>
  <h5 class="dining_name">원주추어탕</h5>
  <img class="dining_img"/>
  <p class="dining_desc">
    정동길에서 줄서서 먹는 추어탕집
    국내산 미꾸라지를 사용하여 매일 새로 끓인다.
    서울시 공무원들이 가장 자주 방문한 맛집 중 가장 저렴한 맛집으로
    지난 3년간 164회의 방문 횟수를 기록했다.
  </p>
  <p class="dining_info dining_addr">서울 중구 무교로 17-27</p>
  <p class="dining_info">영업시간 09:00 - 22:00 </p>
  <p class="dining_info">가격 추어탕 9,000원</p>
  <p class="dining_info">
    <a href="https://store.naver.com/restaurants/detail?id=36905488">
      ▶ 식당상세정보
    </a>
  </p>
  <p class="dining_info">▶ 가성비 맛집 더보기</p>
</div>

<div class="single_dining_box">
  <h4 class="dining_subject">회식 1위, 행정국의 최애맛집</h5>
  <h5 class="dining_name">동해수산</h5>
  <img class="dining_img"/>
  <p class="dining_desc">
    서울시 행정국은 3년간 업무추진비 사용횟수와 금액 면에서 압도적인 1위를 기록했다.
  </br>(32개월간 업무추진비 사용 2388회, 금액 2억9769천만원)
  </br>자주, 많이 간담회를 가지는 행정국이 가장 사랑한 맛집은 바로 동해수산!
    쫀득한 회와 된장 베이스의 매운탕, 신선한 과메기까지
    코스의 모든 음식이 평이 좋고, 가격도 부담스럽지 않은 맛집!
  </p>
  <p class="dining_info dining_addr">서울특별시 중구 북창동 18-12</p>
  <p class="dining_info">영업시간 10:00 - 22:00 (일요일 휴무)</p>
  <p class="dining_info">가격 특정식 25,000원, 생우럭탕 15,000원</p>
  <p class="dining_info">
    <a href="https://www.diningcode.com/profile.php?rid=IM06ck40aScZ">
      ▶ 식당상세정보
    </a>
  </p>
  <p class="dining_info">▶ 행정국 맛집 더보기</p>
</div>

<div class="single_dining_box">
  <h4 class="dining_subject">기자들과 자주 간담회를 가지는 대변인의 맛집</h5>
  <h5 class="dining_name">남산집</h5>
  <img class="dining_img"/>
  <p class="dining_desc">
    업무 특성상 기자들과의 간담회 자리가 많은 대변인은
    30년 전통의 복어요리 전문점인 남산집을 자주 찾았다.
    (지난 2년 반동안 29회, 384만원 지출)
    무교동 3대 복집 중 하나로, 깔끔하고 시원한 복지리를 먹을 수 있다.
  </p>
  <p class="dining_info dining_addr">서울 중구 무교로 32 효령빌딩</p>
  <p class="dining_info">영업시간 11:00~22:00 (일요일 휴무)</p>
  <p class="dining_info">가격 복지리(식사포함) 25,000</p>
  <p class="dining_info">
    <a href="https://store.naver.com/restaurants/detail?id=19484724">
      ▶ 식당상세정보
    </a>
  </p>
  <p class="dining_info">▶ 대변인 맛집 더보기</p>
</div>
{% endblock content %}
